<div class="admin-index">
  <div class="grid grid-pad">
    <div class="col-1-1">
      <div class="content">
        <p>
          <h2><%= link_to 'New product', new_admin_product_path %></h2>
        </p>

        <h1>Current Products</h1>
          <table>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.description %></td>
              <td><%= link_to 'Show', admin_product_path(product) %></td>
              <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
              <td><%= link_to 'Destroy', admin_product_path(product),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </table>
        <p>
          <%= link_to 'Go to frontend', products_path %>
        </p>
      </div>
    </div>
  </div>
</div>

