<div class="products-index-wrapper">
  <div class="grid grid-pad">
    <div class="col-4-12 column">
      <div class="container">
        <% @products.each do |product| %>
          <div class="col-4-12 column image-gallery">
            <a href="#" rel="<%=product.image.url(:large)%>" class="image description">
              <%= image_tag product.image.url(:thumb), class: 'product-image thumb' %>
              <div class="text hide">
                <h2 class="name"><%= product.name %></h2>
                <h3 class="medium"><%= product.medium %></h3>
                <span class="info"><%= product.description %></span>
                <h2 class="price">£<%= product.price %></h2>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-2-12 column product-info">
      <div id="desc_container" style="display:inline-block;">
        <h2 id="title"></h2>
        <h3 id="medium"></h3>
        <span id="info"></span>
        <h2 id="price"></h2>
      </div>
    </div>
    <div class="col-6-12 column">
      <div id="image" class="image-display" style="display:inline-block;">
        <%= image_tag @products.first.image.url(:large), class: 'product-image thumb' %>
      </div>
    </div>
  </div>
</div>

