<div class="row-full">
  <% @products.each do |product| %>
  <div class="col-1-2 column">
    <div class="image-container remodal-bg">

      <a href="#modal"><%= image_tag product.image.url(:large), class: 'product-image' %></a>

    </div>
  </div>
  <div class="remodal" data-remodal-id="modal">
      <%= image_tag product.image.url(:large), class: 'product-image' %>
      <h2><%= product.name %></h2>
      <p><%= product.medium %></p>
      <p><%= product.description %></p>
      <h4>£<%= product.price %></h4>
    </div>
  <% end %>
</div>

